<p>Hello World</p>
@{ 
    var db = new Veloly_Backend.Models.ApplicationDbContext();
}
@Html.ActionLink("Login","Register","Account",new {email = "jasfakasjdn@werren.com", password = "Voyager88!"},null)
@Html.ActionLink("Create", "Create", "Reservation", new { /*userId = db.Users.ToList().ElementAt(0).Id,bikeId = db.Bikes.ToList().ElementAt(0).Id,*/ startTime = DateTime.Now, endTime = DateTime.Now, date = DateTime.Now},null)
