<p>Hello World</p>
@Html.ActionLink("Login","Login","Account",new {email = "jan@werren.com", password = "Voyager88!"},null)
@Html.ActionLink("Register", "Register", "Account", new { email = "jan@werren.com", password = "Voyager88!" }, null)